@model MyLeasing.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}

<h1>Owner</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Document)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Document)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FixedPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FixedPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="AddProperty" asp-route-id="@Model.Id" class="btn btn-primary">Add Property</a> |
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
<br />
<h4>List of Properties that belong to this owner</h4>
<br />
@if (Model.Properties.Count == 0)
{
    <h5>Not Properties added yet!</h5>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Neighborhood)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().SquareMeters)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().Rooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Properties.FirstOrDefault().IsAvailable)
                </th>
                <th>
                    Images
                </th>
                <th>
                    Contracts
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Properties)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Neighborhood)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SquareMeters)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PropertyImages.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contracts.Count)
                </td>
                <td>
                    <a asp-action="EditProperty" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="DetailsProperty" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a asp-action="DeleteProperty" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
